.main_footT {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.main_foot .container {
    position: relative;
    z-index: 1;
}



/* -- Footer Socials Styling -- */

.foot_social{-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
.foot_social ul{margin: 0; padding: 0; display: table;margin-left: auto;width: 100%;margin-right: 6px;}
.foot_social ul li{list-style: none; padding: 0; display: inline-block; margin-left: 16px;}
.foot_social ul li a{display: inline-block; width: 50px; height: 50px;-webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; background: rgba(0,0,0,0.05); line-height: 54px; text-align: center; color:#302f16; font-size: 20px; }
.foot_social ul li a{width: 40px; height: 40px; line-height: 43px; font-size: 16px;}
.foot_social ul li a:hover{background:#302f16; color: #fff; }
.foot_social{-ms-flex: 0 0 14%;flex: 0 0 14%;max-width: 14%;}

/* -- Footer Bottom Styling -- */
.footer_bottom {padding: 45px 0;}
.footer_bottom ul {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;justify-content: center;margin: 0;padding: 0;}
.footer_bottom ul li {padding: 0 20px;list-style: none;padding: 0 35px;font-size: 18px;line-height: 40px;color: #363537;letter-spacing: 1px;position: relative;}
.footer_bottom ul li a {color: #363537;}
.footer_bottom ul li a:hover {color: #000;}
.footer_bottom ul li:after {position: absolute;height: 35px;background: rgba(0,0,0,.1);width: 2px;position: absolute;top: 3px;right: 0;content: ''}
.footer_bottom ul li:last-child:after {display: none}

/* -- Client Portal Styling -- */
a.client_portal_button {background-color: #363537;display: block;float: left;margin-top: 3px;-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33);-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33);box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33);padding: 5px 10px;border-radius: 5px 10px;font-size: 14px;font-family: Ubuntu, Tahoma, Geneva, Verdana, sans-serif;font-weight: 300;text-decoration: none;transition: background-color 0.5s ease;cursor: pointer;}
a.client_portal_button:hover {background-color: #F8F8F8;color: #363537;}
a.client_portal_button span {float: left;line-height: 22px;color: #cebe00;}
a.client_portal_button:hover span {color: #363537;}
